.conversations {
  min-height: 500px;

  .list, .chat {
    padding-left: 0;
    padding-right: 0;

    mat-card {
      border-radius: 0;
      min-height: 500px;
      max-height: 500px;
    }
  }

  .list {
    padding-right: 1px;
    mat-form-field,
    mat-list-item {
      width: 100%;
    }

    mat-list {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      height: 420px;
    }
  }
}
