<app-search-bar [routeQueryParams]="{}"></app-search-bar>

<div class="container conversations">
  <div class="row mt-5 mb-5">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-3 list">
      <mat-card class="mat-elevation-z0 ">
        <p mat-subheader class="mb-0 p-0">
          <mat-form-field appearance="legacy">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search" autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </p>
        <mat-list>
          <!--<h3 mat-subheader>Folders</h3>-->
          <mat-list-item *ngFor="let cv of [1,2,3,4,5,6,7,8,9,10]">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{cv}}</h4>
            <!--<p mat-line> {{folder.updated | date}} </p>-->
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 chat">
      <mat-card class="mat-elevation-z0 "></mat-card>
    </div>
  </div>
</div>
