.post-category {
  height: 370px;
  background-image: url("https://immo-api.serveo.net/assets/2.jpg");
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  a {
    display: block;
    text-align: center;
    color: #ffffff;

    .content {
      text-align: center;
      position: absolute;
      top: 50%;
      right: inherit;
      bottom: inherit;
      left: 50%;
      z-index: 3;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &:before {
      transition: all 0.2s ease-out;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.3;
    }
  }
}
