app-search {
  position: absolute;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  top: 40%;
  height: 250px;
}

mdb-carousel {
  ::ng-deep {
    img {
      max-height: 650px;
    }
  }
}
