<mdb-carousel [animation]="'slide'" [isControls]="true">
  <mdb-carousel-item>
    <!--<img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(120).jpg" alt="First slide">-->
    <img class="d-block w-100" src="https://immo-api.serveo.net/assets/4.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://immo-api.serveo.net/assets/2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://immo-api.serveo.net/assets/1.jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>

<app-search class="search"></app-search>
