<app-search-bar></app-search-bar>
<div class="container mt-5 mb-5">
<!--  <code>{{ propertyInfosFormGroup.value | json }}</code>
  <code>{{ propertyOptionsFormGroup.value | json }}</code>
  <code>{{ propertyLocationFormGroup.value | json }}</code>
  <pre>{{ x | json }}</pre>-->

  <mat-horizontal-stepper linear #stepper *ngIf="isLoggedIn$ | async">
    <mat-step [stepControl]="propertyInfosFormGroup" [editable]="isEditable" [optional]="false">
      <div class="step-container">
        <form [formGroup]="propertyInfosFormGroup">
          <ng-template matStepLabel>Informations</ng-template>
          <div class="row mt-5">
            <mat-form-field appearance="outline" class="col-md-8">
              <mat-label>Title</mat-label>
              <input autocomplete="off" autofocus formControlName="title" matInput placeholder="title" required>
              <mat-icon matPrefix>label</mat-icon>&nbsp;
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
              <mat-label>Price</mat-label>
              <input autocomplete="off" formControlName="price" matInput placeholder="Price" required type="number" step="1500" min="0">
              <mat-icon matPrefix>attach_money</mat-icon>&nbsp;
            </mat-form-field>
          </div>
          <div class="row mt-2">
            <mat-form-field appearance="outline" class="col-md-12">
              <textarea rows="5" autocomplete="off" formControlName="description" matInput placeholder="description" required></textarea>
              <mat-icon matPrefix>description</mat-icon>&nbsp;
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Reference</mat-label>
              <input matInput placeholder="Reference" autocomplete="off" formControlName="reference">
              <mat-icon matPrefix>vpn_key</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Construction year</mat-label>
              <input matInput placeholder="Construction year" autocomplete="off" type="number" min="1980" step="1" formControlName="construction_year" [max]="today.getFullYear()">
              <mat-icon matPrefix>date_range</mat-icon>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>Type de transaction</mat-label>
              <select matNativeControl required formControlName="transaction_type">
                <option [value]="item.id" *ngFor="let item of propertyTransactionTypes">{{ item.title }}</option>
              </select>
            </mat-form-field>
          </div>

          <div class="mt-5 btn-row">
            <button mat-button matStepperNext class="btn-black">Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [stepControl]="propertyOptionsFormGroup" [editable]="isEditable" [optional]="true">
      <div class="step-container">
        <form [formGroup]="propertyOptionsFormGroup">
          <ng-template matStepLabel>Options</ng-template>
          <div class="row mt-5" *ngFor="let form of nbChoicesForms">
            <div class="col-md-4">{{ form.title }}</div>
            <div class="col-md-8">
              <div class="row">
                <mat-radio-group
                  [name]="form.id"
                  [labelPosition]="'after'"
                  [formControlName]="form.id">
                  <mat-radio-button
                    *ngFor="let item of nbChoices"
                    class="col-md-4 mt-2"
                    [value]="item"
                  >
                    {{ item }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>

          <div class="row mt-5" formGroupName="type">
            <div class="col-md-4">Type de bien</div>
            <div class="col-md-8">
              <div class="row">
                <mat-checkbox
                  *ngFor="let item of propertyTypes"
                  class="col-md-4 mt-2"
                  [formControlName]="item.id"
                  [indeterminate]="false"
                  [labelPosition]="'after'"
                  [disabled]="false">
                  {{ item.title }}
                </mat-checkbox>
              </div>
            </div>
          </div>

          <div class="row mt-5" formGroupName="commodities">
            <div class="col-md-4">Commodités</div>
            <div class="col-md-8">
              <div class="row">
                <mat-checkbox
                  *ngFor="let item of propertyCommodities"
                  class="col-md-4 mt-2"
                  [formControlName]="item.id"
                  [indeterminate]="false"
                  [labelPosition]="'after'"
                  [disabled]="false">
                  {{ item.title }}
                </mat-checkbox>
              </div>
            </div>
          </div>

          <div class="mt-5 btn-row">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="btn-black">Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [stepControl]="propertyLocationFormGroup" [editable]="isEditable" [optional]="false">
      <div class="step-container">
        <form [formGroup]="propertyLocationFormGroup">
          <ng-template matStepLabel>Address</ng-template>
          <div class="row mt-5">
            <mat-form-field class="col-md-12" appearance="outline">
              <mat-icon matPrefix>my_location</mat-icon>&nbsp;
              <input #cityInput autocomplete="off" formControlName="city" matInput placeholder="City" required>
            </mat-form-field>
          </div>
          <div class="row mt-5">
            <mat-form-field class="col-md-6" appearance="outline">
              <mat-icon matPrefix>beenhere</mat-icon>&nbsp;
              <input autocomplete="off" formControlName="latitude" matInput placeholder="Latitude" required>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-icon matPrefix>beenhere</mat-icon>&nbsp;
              <input autocomplete="off" formControlName="longitude" matInput placeholder="Longitude" required>
            </mat-form-field>
          </div>

          <div class="mt-5 btn-row">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="btn-black">Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [editable]="isEditable" [optional]="true">
      <div class="step-container">
        <form>
          <ng-template matStepLabel>Images</ng-template>
          <ngx-dropzone (change)="onImagesDropped($event)" [expandable]="true" [maxFileSize]="1024 * 1024"
                        accept="image/*">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of images" [removable]="true" (removed)="onImageRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>

          <div class="mt-5 btn-row">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="btn-black">Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step>
      <div class="step-container">
        <ng-template matStepLabel>Done</ng-template>
        <div class="row done-container">
          <div class="col">
            <p class="alert" *ngIf="statusMessage" [class.list-group-item-success]="!saveError"
               [class.list-group-item-danger]="saveError">
              {{ statusMessage }}
            </p>
            <mat-icon>check_circle</mat-icon>
            <button mat-button
                    mat-ripple
                    class="btn-black btn"
                    [disabled]="isSaving || !propertyInfosFormGroup.valid"
                    (click)="publish()">
              <mat-spinner [diameter]="25" *ngIf="isSaving || true"></mat-spinner>
              <span *ngIf="!isSaving && false">Publish</span>
            </button>
          </div>
        </div>
      </div>
      <!--<div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>-->
    </mat-step>
  </mat-horizontal-stepper>

  <app-request-auth *ngIf="!(isLoggedIn$ | async)"></app-request-auth>
</div>
