.step-container {
  width: 60%;
  margin: auto;
}
.btn-row {
  text-align: right;
}

.done-container {
  .col {
    text-align: center;
    margin: 100px;
    button {
    }
    mat-icon {
      font-size: 12rem;
      width: 100%;
      color: green;
    }
  }
}
