<div id="ID-74171" class="animated fadeIn item-wrap infobox_trigger VENTE item-maison-4-pices-85-m%c2%b2-bouligny" *ngIf="product">
  <div class="property-item table-list">
    <div class="table-cell">
      <div class="figure-block">
        <figure class="item-thumb">

          <div class="label-wrap label-right hide-on-list">
            <span class="label-status label-status-213 label label-default">{{ ('tabs.' + product?.transactionType) | i18n }}</span>

          </div>

          <div class="price hide-on-list"><span class="item-price">{{ product?.price  | currency:'XAF':'symbol':'4.2-2':'fr'}}</span></div>
          <a class="hover-effect" [href]="'/' + product.id + '/details'">
            <img [src]="product?.images[0]"
                 [alt]="product?.title" class="" />
            <!--<img src="http://www.maison-a-louer.pro/diz/maison-a-louer-1.jpg"
                 alt="VENTE-312-IMMOJ-bouligny" class="" />-->
          </a>
          <ul class="actions">
            <li>
              <span class="add_fav" data-placement="top" data-toggle="tooltip" data-original-title="Favoris"
                    data-propid="74171"><i class="fa fa-heart-o"></i></span>
            </li>


            <li>
        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="(5) Photos">
            <i class="fa fa-camera"></i>
        </span>
            </li>

            <li>
        <span id="compare-link-74171" class="compare-property" data-propid="74171" data-toggle="tooltip"
              data-placement="top" title="" data-original-title="Comparer">
            <i class="fa fa-plus"></i>
        </span>
            </li>

          </ul>
        </figure>
      </div>
    </div>

    <div class="item-body table-cell">

      <div class="body-left table-cell">
        <div class="info-row">
          <div class="label-wrap hide-on-grid">
            <span class="label-status label-status-213 label label-default">{{ ('tabs.' + product?.transactionType) | i18n }}</span>

          </div>
          <h2 class="property-title">
            <a [href]="'/' + product.id + '/details'">
              <!--Maison 4 pièce(s) – 85 m² – bouligny-->
              {{ product?.title }}
            </a>
          </h2>
        </div>
        <div class="info-row amenities hide-on-grid" *ngIf="product?.options?.nb_rooms">
          <p>
            <span class="bed">{{ 'common.rooms' | i18n }}: {{ product?.options?.nb_rooms }}</span>
            <!--<span class="bath">Salles de bain: 1</span><span class="size">Surface: 85 m²</span>-->
          </p>
          <p>
            {{ ('product.types.' + product?.type[0]) | i18n }}
          </p>
        </div>

        <div class="info-row date hide-on-grid">
          <p class="prop-user-agent"><i class="fa fa-user"></i> <a
            href="https://immo-j.com/agent/agence-fnaim/">{{ product?.owner?.name }}</a></p>

          <p class="prop-date"><i class="fa fa-slack"></i>RÉF: {{ product?.options?.reference }}</p>

        </div>

      </div>
      <div class="body-right table-cell hidden-gird-cell">

        <div class="info-row price"><span class="item-price">{{ product?.price  | currency:'XAF':'symbol':'4.2-2':'fr'}}</span></div>

        <div class="info-row phone text-right">
          <a href="https://immo-j.com/property/maison-4-pices-85-m%c2%b2-bouligny/" mat-button color="primary" class="">{{ 'buttons.details' | i18n }} <i
            class="fa fa-angle-right fa-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="item-foot date hide-on-list">
    <div class="item-foot-left">
      <p class="prop-user-agent"><i class="fa fa-user"></i> <a href="https://immo-j.com/agent/agence-fnaim/">{{ product?.owner?.name }}</a>
      </p>
    </div>

    <div class="item-foot-right">
      <p class="prop-date"><i class="fa fa-slack"></i>312</p>
    </div>
  </div>

</div>
