.property-item {
  background-color: #fff;
  width: 100%;
  padding: 8px;
}


.item-foot {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 14px 20px;
}

.property-item .table-cell {
  vertical-align: top;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.property-item .table-cell {
  vertical-align: top;
}
.property-item .item-body {
  padding: 10px 12px 10px 20px;
  display: table-cell;
  vertical-align: top;
  overflow: hidden;
  width: 10000px;
}

.figure-block {
  width: 254px;
}
.figure-block {
  position: relative;
  z-index: 0;
}
.item-thumb, figure {
  position: relative;
}
figure {
  margin: 0;
}

.property-item .label-wrap {
  margin-bottom: 5px;
}
.label-right {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
}
.label-wrap {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  line-height: normal;
}

.label-wrap .label:last-child {
  margin: 0;
}
.label-wrap .label {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  border-radius: 2px;
  font-size: 10px;
  padding: 3px 6px 3px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 11px;
  vertical-align: top;
  font-weight: 500;
}
.label-status {
  background-color: #333;
  font-weight: 700;
}
.item-thumb .price, figure .price {
  position: absolute;
  left: 12px;
  bottom: 12px;
  z-index: 4;
  text-align: left;
}
.price {
  color: #000;
  text-align: right;
}

.item-thumb .price .item-price, figure .price .item-price {
  color: #fff;
  display: block;
}
.price .item-price {
  display: inline-block;
  position: relative;
  padding-top: 22px;
}
.price .item-price {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}

.figure-block a {
  max-height: 170px;
  overflow: hidden;
}
.figure-block a {
  color: #fff;
}
.hover-effect {
  transition: 0.3s;
}
.hover-effect, .slider-thumbs-main .slick-slide {
  display: block;
  overflow: hidden;
  z-index: 0;
}

.hover-effect:before, figure .hover-effect:before {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,.75) 100%);
}
.hover-effect:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.hover-effect:after, figure .hover-effect:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /* right: 0; */
  /* width: 100%; */
  /* height: 100%; */
  opacity: 0;
  filter: alpha(opacity=0);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…B3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
  /* background-size: 100%; */
  /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.8))); */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}
.item-thumb img, .page-template-property-listings-map .item-thumb .hover-effect img {
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
.item-thumb img, figure img {
  width: 100%;
}
.figure-block img {
  width: 100%;
  display: block;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.item-thumb .actions, figure .actions {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 4;
}
.actions {
  margin: 0;
  list-style: none;
  font-size: 0 !important;
  white-space: nowrap;
}

.property-item .table-cell {
  vertical-align: top;
}
.property-item .body-left {
  width: 1000px;
  position: relative;
}

.hide-on-grid {
  display: block;
}
.item-body .info-row+.info-row {
  margin-top: 10px;
}
.item-body .amenities {
  min-height: 40px;
}
.item-body .amenities p {
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 5px 0;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}
.item-body .info-row+.info-row {
  margin-top: 10px;
}
.hidden-gird-cell {
  display: table-cell !important;
}
.property-item .table-cell {
  vertical-align: top;
}
.property-item .body-right {
  width: 300px;
  position: relative;
}
.item-body .table-cell {
  position: relative;
}
.price {
  color: #000;
  text-align: right;
}
.price .item-price {
  display: inline-block;
  position: relative;
  padding-top: 22px;
}
.price .item-price {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}
.item-body .info-row+.info-row {
  margin-top: 10px;
}

.item-body .phone {
  position: absolute;
  right: 0;
  bottom: 0;
}
.text-right {
  text-align: right;
}

.info-row a {
  white-space: pre-line;
}
.btn-primary, .label-primary, .scrolltop-btn {
  color: #fff;
  background-color: #5b2d91;
  border-color: #5b2d91;
}
.hide-on-list {
  display: none;
}
.item-wrap {
  padding-left: 0;
  padding-right: 0;
}

.table-list {
  display: table;
  width: 100%;
}
.item-body .date p {
  display: inline-block;
  color: #9b9b9b;
  margin-right: 10px;
}
.item-body .date p {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  font-weight: 300;
  text-transform: inherit;
  text-align: inherit;
}
.item-body .date p i {
  margin-right: 5px;
}
.item-body .date a {
  color: #9b9b9b;
}
.info-row a {
  white-space: pre-line;
}
.item-body .date p:last-child {
  margin: 0;
}
.item-body .date p {
  display: inline-block;
  color: #9b9b9b;
  margin-right: 10px;
}
h2 a, .property-title a {
  color: #000000;
  font-size: 16px;
}
.info-row a {
  white-space: pre-line;
}
.item-body .property-title, .item-body h2 {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 7px 0;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}
.item-body .amenities span {
  margin-right: 10px;
  display: inherit;
}

.actions li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px !important;
  color: #fff;
  cursor: pointer;
  font-size: 12px !important;
}
.actions li>span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
}
.actions {
  margin: 0;
  list-style: none;
  font-size: 0 !important;
  white-space: nowrap;
  padding: 0;

  span:hover {
    background-color: rgba(0,0,0,01);
    border-color: rgba(0,0,0,01);
  }
}
.actions li>span:hover {
  background-color: #000000;
  opacity: 1;
  filter: alpha(opacity=100);
}

div.item-wrap.infobox_trigger:hover {
  box-shadow: 0 0 4px 0 #9c9c9c;
  transition: .3s;
}

.item-thumb:hover img, .page-template-property-listings-map .item-thumb .hover-effect:hover img {
  transform: scale(1.2);
  /* -webkit-transform: scale(1.2); */
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
