.search-bar {
  min-height: 50px;
  background-color: #3e4551;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;

  .algolia-places {
    width: 20%;
  }

  .input-group {
    /*margin-right: 10px;
    margin-left: 10px;*/
    width: 95%;
  }

  .basic-search {
  }

  .town {
    //width: 20%;
  }
  .transaction-type {
    width: 5px;
  }

  .input-group-text,
  .form-control {
    border-radius: 0;
  }
  input,
  select,
  button{
    color: #959595 !important;
    &:focus {
      outline: none;
      border-color: lightgray;
      box-shadow: none;
    }
  }

  .advanced-label {
    color: white;
    padding: 0;
    margin-top: 8px;
    //font-size: 13px;
    cursor: pointer;
    mat-icon {
      vertical-align: middle;
      margin-left: 5px;
      //font-size: 15²px;
    }
  }

  mat-form-field {
    background-color: white;
    &::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: -13px;
      }
    }
  }

  .advanced {
    color: white;
  }
}
