<section class="search-bar">
<!--  {{ searchForm | json }}-->
    <div class="input-group basic-search">
    <!--<div class="input-group-prepend">
      <span class="input-group-text">First and last name</span>
    </div>-->
    <div class="input-group-prepend">
      <span class="input-group-text md-addon">
        <mat-icon>search</mat-icon>
      </span>
    </div>

    <input [ngModel]="searchForm?.place" aria-label="Location" autocomplete="off" (change)="searchForm.place = $event.target.value"
           class="form-control town" placeholder="Ville" type="text" #cityInput>
      <!--<input (keyup)="search($event.target.value)" [options]='options' aria-label="First name" autocomplete="off"
           class="form-control town" ngx-google-places-autocomplete placeholder="Ville" type="text"
           (onAddressChange)="handleAddressChange($event)">-->

    <select class="form-control transaction-type" [(ngModel)]="searchForm.transactionType">
      <option value="">Type de transation</option>
      <option [value]="item.id" *ngFor="let item of transactionTypes">{{ item.title }}</option>
    </select>

    <select class="form-control product-type" [(ngModel)]="searchForm.productType">
      <option value="">Type de bien</option>
      <option [value]="item.id" *ngFor="let item of propertyTypes">{{ item.title }}</option>
    </select>

    <select class="form-control nb-rooms" [(ngModel)]="searchForm.nbRooms">
      <option value="">Nb pièces</option>
      <option [value]="item" *ngFor="let item of nbRooms">{{ item }}</option>
    </select>

    <input type="text" aria-label="Budjet Min" class="form-control" placeholder="Budjet Min" [(ngModel)]="searchForm.priceMin">
    <input type="text" aria-label="Budjet Max" class="form-control" placeholder="Budjet Max" [(ngModel)]="searchForm.priceMax">

    <!--<span class="advanced-label" mat-ripple (click)="displayAdvancedForm = !displayAdvancedForm">
      <mat-icon>settings</mat-icon>
          Avancé
    </span>-->

    <button mat-button color="primary" class="" (click)="doSearch()">Rechercher</button>
  </div>

  <!--<div class="advanced" *ngIf="displayAdvancedForm">
    <div class="input-group mt-2 mb-2">
      <input placeholder="Budjet Min" autocomplete="off" type="text" aria-label="Budjet Min" class="form-control min">
      <input placeholder="Budjet Min" autocomplete="off" type="text" aria-label="Budjet Min" class="form-control min">
      <input placeholder="Budjet Min" autocomplete="off" type="text" aria-label="Budjet Min" class="form-control min">
    </div>
  </div>-->
</section>
