<app-search-bar></app-search-bar>

<div class="loading-contailer" *ngIf="fetchingDetails">
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    [diameter]="50"
    [strokeWidth]="3">
  </mat-progress-spinner>
</div>

<div class="container mt-5 mb-5" *ngIf="!fetchingDetails">
  <section class="detail-top detail-top-slideshow">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-detail">
            <div class="header-left">
              <ol class="breadcrumb">
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="https://immo-j.com/">
                    <span itemprop="title">{{ 'menu.home' | i18n }}</span>
                  </a>
                </li>
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="https://immo-j.com/property-type/maison/">
                    <span itemprop="title">{{ ('product.types.' + property?.type[0]) | i18n }}</span>
                  </a>
                </li>
                <li class="active">
                  <span>{{ ('product.types.' + property?.type[0]) | i18n }}</span>
                  <span
                    *ngIf="property?.options?.nb_rooms"> {{ property?.options?.nb_rooms }} {{ 'common.rooms' | i18n }} </span>
                  – {{ property?.location?.city }}</li>
              </ol>
              <div class="table-list">
                <div class="table-cell">
                  <h1>
                    <span>{{ ('product.types.' + property?.type[0]) | i18n }}</span>
                    <span
                      *ngIf="property?.options?.nb_rooms"> {{ property?.options?.nb_rooms }} {{ 'common.rooms' | i18n }} </span>
                    – {{ property?.location?.city }}
                  </h1>
                </div>
                <div class="table-cell hidden-sm hidden-xs">
                <span class="label-wrap">
                                            <span
                                              class="label label-primary label-status-213">{{ ('tabs.' + property?.transactionType) | i18n }}</span>

                                        </span>
                </div>
              </div>
              <!--<div class="table-list">
                <div class="title-extra-info">Honoraires inclus charge acquéreur: 14.29% TTC (35000€ hors honoraires)
                </div>
              </div>-->


            </div>
            <div class="header-right">
              <ul class="actions">
                <li class="share-btn">

                  <div class="share_tooltip tooltip_left fade">
                    <a
                      href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fimmo-j.com%2Fproperty%2Fmaison-4-pices-85-m%25c2%25b2-bouligny%2F"
                      onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                      class="fa fa-facebook"></i></a>
                    <a
                      href="https://twitter.com/intent/tweet?text=Maison+4+pi%26%23xE8%3Bce%28s%29+%26%238211%3B+85+m%C2%B2+%26%238211%3B+bouligny&amp;url=https%3A%2F%2Fimmo-j.com%2Fproperty%2Fmaison-4-pices-85-m%25c2%25b2-bouligny%2F&amp;via=IMMO.J"
                      onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}"><i
                      class="fa fa-twitter"></i></a>

                    <a
                      href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fimmo-j.com%2Fproperty%2Fmaison-4-pices-85-m%25c2%25b2-bouligny%2F&amp;media=https://immo-j.com/wp-content/immommoj-images/properties/VENTE-312-IMMOJ-bouligny.jpg"
                      onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                      class="fa fa-pinterest"></i></a>

                    <a
                      href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fimmo-j.com%2Fproperty%2Fmaison-4-pices-85-m%25c2%25b2-bouligny%2F&amp;title=Maison+4+pi%26%23xE8%3Bce%28s%29+%26%238211%3B+85+m%C2%B2+%26%238211%3B+bouligny&amp;source=https%3A%2F%2Fimmo-j.com%2F"
                      onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                      class="fa fa-linkedin"></i></a>

                    <a
                      href="http://plus.google.com/share?url=https%3A%2F%2Fimmo-j.com%2Fproperty%2Fmaison-4-pices-85-m%25c2%25b2-bouligny%2F"
                      onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                      class="fa fa-google-plus"></i></a>
                    <a
                      href="mailto:example.com?subject=Maison+4+pi%26%23xE8%3Bce%28s%29+%26%238211%3B+85+m%C2%B2+%26%238211%3B+bouligny&amp;body=https%3A%2F%2Fimmo-j.com%2Fproperty%2Fmaison-4-pices-85-m%25c2%25b2-bouligny%2F"><i
                      class="fa fa-envelope"></i></a>
                  </div>
                  <span title="" data-placement="right" data-toggle="tooltip" data-original-title="partager"><i
                    class="fa fa-share-alt"></i></span></li>
                <li class="fvrt-btn">
                  <span class="add_fav" data-placement="right" data-toggle="tooltip" data-original-title="Favoris"
                        data-propid="74171"><i class="fa fa-heart-o"></i></span></li>
                <li class="print-btn">
                  <span data-toggle="tooltip" data-placement="right" data-original-title="Imprimer"><i id="houzez-print"
                                                                                                       class="fa fa-print"
                                                                                                       data-propid="74171"></i></span>
                </li>
              </ul>
              <span class="item-price">{{ property?.price  | currency:'XAF':'symbol':'4.2-2':'fr'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="detail-media">
            <div class="tab-content">

              <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item *ngFor="let slide of property?.images">
                  <img class="d-block w-100" [src]="slide"
                       alt="First slide">
                </mdb-carousel-item>
                <!--<mdb-carousel-item>
                  <img class="d-block w-100"
                       src="http://www.camerounmaison.com/images/maison/img1/cameroun-maison-876935716-appartements-2-chambres-meubles-haut-standing-a-louer-yaounde-omnisports-40000-2ch.JPG"
                       alt="Second slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <img class="d-block w-100"
                       src="http://www.kemez.cm/images/listings/2018-05/appartements_meubl_C3_A9s_hauts_standing-1525533427-131-e.jpg"
                       alt="Third slide">
                </mdb-carousel-item>-->
              </mdb-carousel>
            </div>
          </div>
          <div class="media-tabs">
            <ul class="media-tabs-list">
              <li class="popup-trigger" data-placement="bottom" data-toggle="tooltip" data-original-title="Voir Photos">
                <a href="#gallery" data-toggle="tab">
                  <i class="fa fa-camera"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-detail-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 container-contentbar">
          <div id="top-info-bar" class="detail-address detail-block">
            <div class="detail-address-inner">
            <span class="topbar">
                <i class="fa fa-map-marker" style="font-size:20px;margin-right:5px;"></i>
                <span>Lieu : </span> <span>{{ property?.location?.city }}</span></span>
              <span class="topbar" *ngIf="property?.options?.nb_rooms"><i class="fa fa-hotel"
                                                                          style="font-size:20px;margin-right:5px;"></i><span>{{ 'common.rooms' | i18n }}
                : </span><span>{{ property?.options?.nb_rooms }}</span></span>
              <span class="topbar" *ngIf="property?.options?.surface"><i class="fa fa-arrows-h"
                                                                         style="font-size:20px;margin-right:5px;"></i><span>Surface : </span><span>{{ property?.options?.surface }}</span></span>
              <span class="topbar"><i class="fa fa-key"
                                      style="font-size:20px;margin-right:5px;"></i><span>Référence : </span><span>{{ property?.options?.reference }}</span></span>
            </div>
          </div>

          <div class="detail-bar">

            <div id="description" class="property-description detail-block target-block">
              <div class="detail-title">
                <h2 class="title-left">Description </h2>
                <div class="title-right">
                </div>
              </div>


              <p><span style="font-size: 13px; font-family: arial,sans,sans-serif; text-align: center;"
                       data-sheets-value="&quot;}" data-sheets-userformat="" data-sheets-ischild=""></span>
                <span style="font-family: arial, sans, sans-serif; font-size: 13px; text-align: center;"></span>
                <span style="">{{ property?.description }}</span>
                <span style="font-family: arial, sans, sans-serif; font-size: 13px; text-align: center;"></span>
                <span style="font-family: arial, sans, sans-serif; font-size: 13px; text-align: center;"></span>
                <span style="font-family: arial, sans, sans-serif; font-size: 13px; text-align: center;"></span>
              </p>

            </div>
            <div id="address" class="detail-address detail-block target-block">
              <div class="detail-title">
                <h2 class="title-left">Adresse</h2>
              </div>

              <div class="alert alert-info">
                <ul class="list-three-col">
                  <li class="detail-city"><strong>Ville:</strong> {{ property?.location?.city || 'N/A' }}</li>
                  <li class="detail-longitude"><strong>Longitude</strong>  {{ property?.location?.longitude || '-' }}</li>
                  <li class="detail-latitude"><strong>Latitude</strong>  {{ property?.location?.latitude || '-' }}</li>
                  <!--<li class="detail-country"><strong>Pays:</strong> Cameroon</li>-->
                </ul>
              </div>
            </div>
            <div id="detail" class="detail-list detail-block target-block">
              <div class="detail-title">
                <h2 class="title-left">Informations Financières</h2>
              </div>
              <div class="alert alert-info">
                <ul class="list-two-col">
                  <li>
                    <div class="aivoni-details"><strong>Prix : </strong> <label>{{ property?.price  | currency:'XAF':'symbol':'4.2-2':'fr'}}</label></div>
                  </li>
                  <li>
                    <!--<div class="aivoni-details"><label>Honoraires inclus charge acquéreur: 14.29% TTC (35000€ hors
                      honoraires)</label></div>-->
                  </li>
                </ul>
              </div>
              <!--<div class="detail-title">
                <h2 class="title-left">Surfaces</h2>
              </div>
              <div class="alert alert-info">
                <ul class="list-two-col">
                  <li>
                    <div class="aivoni-details"><strong>Surface : </strong> <label>85 m²</label></div>
                  </li>
                  <li>
                    <div class="aivoni-details"><strong>Surface terrain : </strong> <label>295 m²</label></div>
                  </li>
                </ul>
              </div>-->
              <div class="detail-title">
                <h2 class="title-left">Récapitulatif</h2>
              </div>
              <div class="alert alert-info">
                <ul class="list-two-col">
                  <li>
                    <div class="aivoni-details"><strong>Référence : </strong> <label>{{ property?.options?.reference || '-' }}</label></div>
                  </li>
                  <li>
                    <div class="aivoni-details"><strong>Pièces : </strong> <label>{{ property?.options?.nb_rooms || '-' }}</label></div>
                  </li>
                  <li>
                    <div class="aivoni-details"><strong>Salles de Bain : </strong> <label>{{ property?.options?.nb_bating_rooms || '-' }}</label></div>
                  </li>
                  <li>
                    <div class="aivoni-details"><strong>Garages : </strong> <label>{{ property?.options?.nb_garages || '-' }}</label></div>
                  </li>
                  <li>
                    <div class="aivoni-details"><strong>Année de construction : </strong> <label>{{ property?.options?.construction_year || '-' }}</label></div>
                  </li>
                  <!--<li>
                    <div class="aivoni-details"><strong>Pièces : </strong> <label>4 pièce(s)</label></div>
                  </li>-->
                </ul>
              </div>
            </div>

            <div class="property-similer">
              <div class="detail-title">
                <h2 class="title-left">Biens Similaires</h2>
              </div>

              <div class="property-listing list-view">
                <app-post-item
                  *ngFor="let item of similarProperties; let index = index;"
                  [product]="item"
                ></app-post-item>
              </div>
              <hr>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-3 container-sidebar hide">
          <aside id="sidebar" class="sidebar-white">

            <div class="widget widget-contact-agent ">
              <div class="widget-body">
                <div class="form-small">
                  <form method="post" action="#">
                    <div class="media agent-media">
                      <!--<div class="media-left"><a href="https://immo-j.com/agent/agence-fnaim/"><img
                        src="https://immo-j.com/wp-content/immommoj-images/immo_j_logo.png" alt="IMMO.J" width="75"
                        height="75"></a></div>-->
                      <div class="media-body">
                        <dl>
                          <dd><i class="fa fa-user"></i> {{ property?.owner?.name }}</dd>
                          <dd><i class="fa fa-mobile"></i>{{ property?.owner?.phoneNumber || '-' }}</dd>
                          <dd><a [href]="'mailto:' + property?.owner?.email"><i class="fa fa-envelope"></i>{{ property?.owner?.email }}</a></dd>
                          <dd><a href="https://immo-j.com/agent/agence-fnaim/" class="view">Voir nos annonces</a></dd>
                        </dl>
                      </div>
                    </div>
                    <input type="hidden" name="target_email" value="nospam@aivoni.com">
                    <input type="hidden" name="agent" value="69820">
                    <input type="hidden" name="agent_contact_form_ajax" value="d588cc67ff">
                    <input type="hidden" name="property_permalink"
                           value="https://immo-j.com/property/maison-4-pices-85-m%c2%b2-bouligny/">
                    <input type="hidden" name="property_title" value="Maison 4 pièce(s) – 85 m² – bouligny">
                    <input type="hidden" name="action" value="houzez_agent_send_message">

                    <div class="form-group">
                      <input class="form-control" name="name" type="text" placeholder="Nom">
                    </div>
                    <div class="form-group">
                      <input class="form-control" name="phone" type="text" placeholder="Téléphone">
                    </div>
                    <div class="form-group">
                      <input class="form-control" name="email" type="email" placeholder="E-mail ">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="4" placeholder="Description ">Bonjour, Je suis intéressé par [{{ property?.title }} - {{ property?.options.reference }}]</textarea>
                    </div>

                    <button class="agent_contact_form btn btn-secondary btn-block">Demande d'info</button>
                    <div class="form_messages"></div>
                    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
                  </form>

                </div>
              </div>
            </div>

            <div class="widget widget_houzez_properties">
              <app-recent-posts></app-recent-posts>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>

</div>

