.loading-contailer {
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
}
.detail-top {
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
}
.header-detail {
  padding: 25px 0 28px;
}
.header-detail .header-left {
  float: left;
}
.header-detail .breadcrumb {
  padding: 0;
  margin-bottom: 8px;
}
.breadcrumb {
  line-height: 12px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.header-detail .breadcrumb li {
  line-height: 28px;
}
.breadcrumb li {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  font-weight: 300;
  text-transform: inherit;
  text-align: inherit;
}
.breadcrumb li {
  color: #707070;
}
.breadcrumb >li {
  display: inline-block;
}

.breadcrumb li a {
  color: #5b2d91;
  font-weight: 400;
}
.breadcrumb li:after {
  font-family: "FontAwesome";
  color: #9b9b9b;
  content: "\f105";
  padding: 0 5px;
}
.breadcrumb li:last-child:after {
  content: "";
  padding: 0;
}
.header-detail .header-right {
  float: right;
}
.header-right {
  text-align: right;
}
.table-list {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.header-detail .header-left h1, .header-detail .header-left .property-address {
  white-space: nowrap;
}
.header-detail .header-left h1 {
  max-width: 860px;
}
.header-detail h1, .header-detail .item-price {
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 10px;
  font-weight: 500;
}
.header-detail .label-wrap {
  top: -3px;
  position: relative;
  height: 24px;
  margin-left: 8px;
}
.label-wrap {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  line-height: normal;
}
.header-detail .label-wrap .label {
  padding: 6px 10px 6px;
}
.header-detail .label-wrap .label {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.label-wrap .label:last-child {
  margin: 0;
}
.label-wrap .label {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  border-radius: 2px;
  font-size: 10px;
  padding: 3px 6px 3px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 11px;
  vertical-align: top;
  font-weight: 500;
}
.label-primary, .fave-load-more a, .widget_tag_cloud .tagcloud a, .pagination-main .pagination li.active a, .other-features .btn.btn-secondary, .my-menu .active am {
  font-weight: 500;
}
.btn-primary, .label-primary, .scrolltop-btn {
  color: #fff;
  background-color: #5b2d91;
  border-color: #5b2d91;
}
.title-extra-info {
  font-size: 0.9em;
  font-style: italic;
  clear: both;
  text-transform: initial;
}
.header-detail .actions {
  padding: 0;
  margin-bottom: 10px;
  line-height: 14px;
}
.actions {
  margin: 0;
  list-style: none;
  font-size: 0 !important;
  white-space: nowrap;
}
.actions li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px !important;
  color: #fff;
  cursor: pointer;
  font-size: 12px !important;
}
.tooltip_left {
  line-height: 16px;
  position: absolute;
  top: inherit;
  right: 30px;
  bottom: 50%;
  left: inherit;
  z-index: -1;
  -webkit-transform: translate(0,50%);
  transform: translate(0,50%);
}
.share_tooltip {
  position: absolute;
  right: -4px;
  bottom: 35px;
  background-color: #00aeef;
  white-space: nowrap;
  display: block;
  padding: 0 5px;
  visibility: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.actions li>span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
}
.actions li:last-child {
  margin: 0 !important;
}
.header-detail .item-price {
  display: block;
}
.header-detail h1, .header-detail .item-price {
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 10px;
  font-weight: 500;
}
.detail-media {
  position: relative;
}
.detail-top .tab-content {
  position: relative;
}
.detail-media #gallery {
  position: relative;
}
.detail-top .tab-pane {
  width: 100%;
  min-height: 600px;
}
.tab-content >.active {
  display: block;
}
.detail-media .label-wrap {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}
.fade.in {
  opacity: 1;
}

#top-info-bar.detail-block {
  padding: 21px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.detail-block {
  background-color: #fff;
  padding: 40px;
}
#top-info-bar .topbar {
  display: inline-block;
}
#top-info-bar .topbar {
  margin-right: 15px;
}
#top-info-bar.detail-block i {
  color: #b3b3b3;
}
.detail-block {
  background-color: #fff;
  padding: 40px;
}
.detail-title {
  padding-bottom: 40px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.detail-bar p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
  font-weight: 300;
  text-transform: inherit;
  text-align: inherit;
}
.detail-title .title-left {
  float: left;
}
.detail-title .title-left {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}
.detail-bar h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px 0;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}
.detail-block .alert-info {
  background-color: #f1f1f1 !important;
  border: 0 !important;
}
.detail-address ul {
  list-style: none;
  margin: 0;
}

.detail-block .alert-info .list-three-col li {
  float: left;
}
.list-three-col {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
.detail-block .alert-info .list-three-col li {
  float: left;
}
.detail-block .alert-info li strong {
  width: 100%;
  display: block;
}
strong, b {
  font-weight: bold;
}
.detail-block .alert-info li {
  line-height: 35px;
  font-size: 14px;
}
.detail-block .alert-info li {
  width: 100%;
}
.detail-bar ul li {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
  text-transform: inherit;
  text-align: inherit;
}
.detail-block .alert-info li {
  line-height: 35px;
  font-size: 14px;
}
.detail-block .alert-info li {
  width: 100%;
}
.detail-list ul {
  list-style: none;
  margin: 0;
}
.detail-block .alert-info li {
  line-height: 35px;
  font-size: 14px;
}
.detail-block .alert-info li {
  width: 100%;
}
.aivoni-details {
  display: inline-block;
}
.detail-block .alert-info li strong {
  width: 100%;
  display: block;
}
label {
  font-weight: 400;
  font-size: 14px;
}
.detail-bar ul li {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
  text-transform: inherit;
  text-align: inherit;
}
.list-two-col {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.detail-block .alert-info {
  color: rgba(0,0,0,.85);
  background-color: rgba(0,174,239,0.1);
  border: 1px solid #5b2d91;
}
.detail-block .alert-info {
  background-color: #f1f1f1 !important;
  border: 0 !important;
}
.detail-block .alert-info {
  color: #000;
  padding: 15px 25px;
}
.section-detail-content #sidebar {
  padding: 0;
}
.sidebar-white .widget:not(.widget-range) {
  background-color: #fff;
  padding: 20px !important;
}
.sidebar-white .widget {
  border: none !important;
}
.widget-body {
  font-size: 14px;
}
.widget-contact-agent .form-small {
  padding: 0;
  background: none;
}
.form-small .agent-media {
  margin: 0 0 16px;
}
.agent-media .media-left, .agent-media .next-prev-block .media-right, .next-prev-block .agent-media .media-right {
  padding-right: 14px;
  position: relative;
}
.widget .media-left a { display: block }
.agent-media img {
  max-height: 75px;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.agent-media dl {
  margin: 0;
}
.agent-media dd {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 2px;
  font-weight: 300;
  text-transform: inherit;
  text-align: inherit;
}
.agent-media dd .fa {
  margin: 0 5px 0 1px;
}
.conditions .scroll {
  overflow-y: scroll;
  height: 80px;
}

.agent_contact_form.btn-secondary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.sidebar-white .widget:not(.widget-range) {
  background-color: #fff;
  padding: 20px !important;
}
.sidebar-white .widget+.widget {
  margin-top: 30px !important;
}
.widget+.widget {
  margin-top: 40px;
}
.widget-top {
  margin-bottom: 17px;
}
.widget-body {
  font-size: 14px;
}
.media-tabs {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 9;
}
.media-tabs-list {
  list-style: none;
  margin: 0;
  font-size: 0;
}
.media-tabs-list li:first-child {
  margin: 0 !important;
}
.media-tabs-list li {
  display: inline-block;
  position: relative;
  margin-left: 12px !important;
}
.media-tabs-list li>a {
  width: 48px;
  height: 48px;
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 18px;
  line-height: 48px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tabs-list li > a:hover {
  background-color: rgba(0,0,0,01);
  border-color: rgba(0,0,0,01);
}
.property-similer {
  margin-top: 40px;
}

app-post-item {
  &::ng-deep {
    &>div {
      margin-bottom: 10px;
    }
  }
}

mdb-carousel {
  &::ng-deep {
    img {
      max-height: 476px;
    }
    .carousel-thumbnails .carousel-indicators {
      white-space: nowrap;
      overflow-x: auto;
      position: static;
      left: initial;
      width: initial;
      margin-left: initial;
      margin-right: initial;
    }
    .carousel-thumbnails .carousel-indicators>li {
      width: initial;
      height: initial;
      text-indent: initial;
    }
  }
}

.sidebar-white .widget+.widget {
  margin-top: 30px !important;
}
@media (min-width: 1200px) {
  .container-contentbar {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .container-sidebar {
    width: 30%;
  }
}
