<!--
<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="authModalFrame.show()" mdbWavesEffect>Launch Modal</button>-->

<div mdbModal #loginFrame="mdbModal" class="modal fade top" id="login" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="loginFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mat-icon class="prefix grey-text">email</mat-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-email">Your email</label>
          <!--<mdb-error
            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
            valid
          </mdb-success>-->
        </div>

        <div class="md-form mb-4">
          <mat-icon class="prefix grey-text">lock</mat-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-pass">Your password</label>
          <!--<mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input valid
          </mdb-success>-->
        </div>
        <p class="alert list-group-item-danger auth-error-message" *ngIf="loginFailed">{{ loginFailed }}</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mat-ripple [disabled]="layout?.isLoggingIn" (click)="login()">
          Login <span *ngIf="layout?.isLoggingIn"> ...</span>
        </button>
        <a mat-ripple (click)="showRegister()">Register</a>
      </div>
    </div>
  </div>
</div>


<div mdbModal #registerFrame="mdbModal" class="modal fade top" id="register" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="registerFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mat-icon class="prefix grey-text">person</mat-icon>
          <input type="text" id="orangeForm-name" class="form-control" [formControl]="signupFormModalName"
                 mdbInput mdbValidate>
          <label for="orangeForm-name">Your name</label>
          <!--<mdb-error *ngIf="signupFormModalName.invalid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Input invalid
          </mdb-error>
          <mdb-success *ngIf="signupFormModalName.valid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Input valid
          </mdb-success>-->
        </div>
        <div class="md-form mb-5">
          <mat-icon class="prefix grey-text">email</mat-icon>
          <input type="email" id="orangeForm-email" class="form-control" [formControl]="signupFormModalEmail"
                 mdbInput mdbValidate>
          <label for="orangeForm-email">Your email</label>
          <!--<mdb-error
            *ngIf="signupFormModalEmail.invalid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalEmail.valid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
            valid
          </mdb-success>-->
        </div>

        <div class="md-form mb-4">
          <mat-icon class="prefix grey-text">lock</mat-icon>
          <input type="password" id="orangeForm-pass" class="form-control" [formControl]="signupFormModalPassword"
                 mdbInput mdbValidate>
          <label for="orangeForm-pass">Your password</label>
          <mdb-error
            *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

        <div class="custom-control custom-switch mt-5">
          <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="isProf">
          <label class="custom-control-label" for="customSwitches">Compte professionnel?</label>
        </div>

        <ng-container *ngIf="isProf">
          <div class="md-form mb-4">
            <mat-icon class="prefix grey-text">public</mat-icon>
            <input type="url" id="website" class="form-control" [formControl]="signupFormModalPassword"
                   mdbInput mdbValidate>
            <label for="orangeForm-pass">Website</label>
            <mdb-error
              *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
              Input valid
            </mdb-success>
          </div>

          <div class="md-form mb-4">
            <mat-icon class="prefix grey-text">phone</mat-icon>
            <input type="text" id="phone" class="form-control" [formControl]="signupFormModalPassword"
                   mdbInput mdbValidate>
            <label for="orangeForm-pass">Phone</label>
            <mdb-error
              *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
              Input valid
            </mdb-success>
          </div>
        </ng-container>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Sign up</button>
        <a mat-ripple (click)="showLogin()">Login</a>
      </div>
    </div>
  </div>
</div>
