<!--<app-header-carousel></app-header-carousel>-->

<!--<app-recent-posts></app-recent-posts>-->
<app-search-bar [routeQueryParams]="searchQueryParams"></app-search-bar>
<!--{{ products | json }}-->
<!--<h3 i18n="Testint title@@testTitle">TESTING IT !!!</h3>
<h2 i18n="@@testTitle"></h2>-->
<div class="container">
  <div class="mt-5 mb-3">
    <div class="filters">
      <div class="list-style hidden-xs">
        <a (click)="viewMode = propertyViewModes.LIST" [color]="viewMode === propertyViewModes.LIST ? 'primary':''" mat-button><mat-icon>list</mat-icon></a>
        <a (click)="viewMode = propertyViewModes.GRID" [color]="viewMode === propertyViewModes.GRID ? 'primary':''" mat-button><mat-icon>view_module</mat-icon></a>
      </div>

      <div class="filter-by">
        Trier par:
        <span [matMenuTriggerFor]="filterBy" *ngIf="activeListFilter">
          <!--<a color="primary" mat-button>Prix croissant</a>-->
          <a color="primary" mat-button>{{ activeListFilter?.title }}</a>
          <mat-icon color="primary">swap_vert</mat-icon>
        </span>
      </div>

    </div>
  </div>


  <div class="mb-5">
    <div class="row">
      <mat-card class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-3 container-sidebar recent-posts mat-elevation-z0">
        <div class="widget-top"><h3 class="title">Dernières annonces</h3></div>
        <div class="widget-body">
          <app-recent-posts *ngIf="recentProducts?.length"
          [properties]="recentProducts"></app-recent-posts>
        </div>
        <div class="item-wrap no-items" *ngIf="!layout.areRecentProductsLoading && !recentProducts.length"><h4 class="not-found">Désolé, aucun résultat n'a été trouvé</h4></div>
      </mat-card>

      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 list-grid-area container-contentbar main-content" id="main-content">

        <div class="list-search" *ngIf="layout?.isSearching">
          <form method="post" action="" class="save_search_form" _lpchecked="1">
            <div class="input-level-down input-icon">
              <input placeholder="Recherche Listing" class="form-control" readonly="" value="">
            </div>
            <span id="save_search_click" class="save-btn">Enregistrer</span>
          </form>
        </div>

        <mat-card class="mat-elevation-z0">
          <div class="main-loader-container" *ngIf="layout?.areProductsLoading || layout?.isRunningSearch">
            <mat-progress-spinner
              [color]="'primary'"
              [mode]="'indeterminate'"
              [strokeWidth]="3">
            </mat-progress-spinner>
          </div>

          <div class="grid-list row" *ngIf="!layout?.areProductsLoading && !layout?.isRunningSearch && viewMode === 'grid'">
            <div class="item-wrap no-items" *ngIf="!products?.length"><h4 class="not-found">Désolé, aucun résultat n'a été trouvé</h4></div>
            <div *ngFor="let item of products; let index = index;" class="col-lg-6 item mb-3">
              <app-post-card-item
              [product]="item"></app-post-card-item>
            </div>
          </div>

          <div class="row list-view" *ngIf="!layout?.areProductsLoading && !layout?.isRunningSearch && viewMode === 'list'">
            <div class="item-wrap no-items" *ngIf="!products?.length"><h4 class="not-found">Désolé, aucun résultat n'a été trouvé</h4></div>
            <app-post-item
              *ngFor="let item of products; let index = index;"
              [product]="item"
            ></app-post-item>
          </div>

          <!--<app-paginator *ngIf="!layout?.areProductsLoading && products?.length"
                         [pages]="pages"
                         [currentPage]="page"
                         (onNavigationChanged)="handleNavigationChanged($event)"
          ></app-paginator>-->
          <div class="load-more-spinner mt-5" *ngIf="layout?.isRunningMoreSearch || layout?.areProductsLoadingMore">
            <mat-progress-spinner
              [color]="'primary'"
              [mode]="'indeterminate'"
              [diameter]="30"
              [strokeWidth]="3">
            </mat-progress-spinner>
          </div>
          <button (click)="loadMore()"
                  *ngIf="!layout?.areProductsLoadingMore && !layout?.areProductsLoading && !layout?.isRunningMoreSearch && !layout?.isRunningSearch && page < pages && products?.length; else fullListLoaded;"
                  class="btn btn-block btn-black mt-5"
                  mat-button>
            <span *ngIf="!layout?.areProductsLoadingMore">Load more</span>
            <span *ngIf="layout?.areProductsLoadingMore">Please wait</span>
          </button>

          <ng-template #fullListLoaded>
            <span class="text-muted end-of-list" *ngIf="!layout?.areProductsLoading && !layout.areProductsLoadingMore && !layout?.isRunningMoreSearch && products?.length">Affichage de {{ total + ' sur ' + products.length }} éléments</span>
          </ng-template>
        </mat-card>
      </div>
    </div>

  </div>
</div>

<!--
<div class="row post-categories">
  <app-post-category-item
    *ngFor="let item of [1,2,3,4]; let index = index"
    class="col-md-4"></app-post-category-item>
</div>
-->

<mat-menu #filterBy="matMenu">
  <button
    *ngFor="let filter of listFilters"
    (click)="onFilterSelect(filter)"
    mat-menu-item
  >{{ filter.title }}</button>
</mat-menu>
