.post-categories {
  margin: 0;
  app-post-category-item {
    margin-bottom: 10px;
  }
}

app-recent-posts-carousel {
  &::ng-deep {
    .recent-posts {
    }

    .carousel {
      width: 60%;
    }
  }
}

.filters {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  .filter-by {
    mat-icon {
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .list-style {
    margin-left: 10px;
  }

  .mat-button {
    min-width: 30px;
    padding: 0
  }
}

.recent-posts {
  height: fit-content;
  .title {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px 0;
    font-weight: 700;
  }


  .widget-body {
    font-size: 14px;
  }
}
.load-more-spinner,
.end-of-list {
  display: flex;
  justify-content: center;
  &.text-muted {
    opacity: 0.5;
    font-size: 11px;
  }
}
.grid-list,
.list-view {
  min-height: 500px;
}
.no-items {
  padding-left: 0px;
  padding-right: 0px;
}
.no-items {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
  .not-found {
    background-color: #fff;
    padding: 20px;
  }
  h4, .article-detail h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 24px 0;
    font-weight: 700;
  }
}
.main-content mat-card {
  background-color: transparent;
  padding-top: 0;
  &::ng-deep {
    .main-loader-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 500px;
      width: 100%;
    }
  }
}
.pagination.pg-blue .page-item.active .page-link {
  background-color: #000000;
}
.list-search {
  margin-bottom: 30px;
  padding: 25px;
  border: 1px solid #00aeef;
  background-color: rgba(0, 174, 239, 0.05);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.list-search form {
  position: relative;
  color: #000;
  font-weight: 500;
}
.input-icon {
  position: relative;
}
.list-search .input-icon:before {
  color: #000;
}
.input-level-down:before {
  content: "";
  background-image: url(../../../assets/save-search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.list-search .form-control[readonly] {
  background-color: #fff;
}
.list-search .form-control {
  color: #000;
  font-weight: 400;
  padding-right: 83px;
}
.input-icon:before {
  color: #959595;
  text-align: center;
  font-family: "FontAwesome";
  height: 43px;
  width: 40px;
  line-height: 43px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#save_search_click {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 40px;
  padding: 0 14px;
  cursor: pointer;
}
#save_search_click:after {
  font-family: "FontAwesome";
  content: '\f006';
  display: inline-block;
  margin-left: 10px;
  color: #ffba01;
}

app-post-item {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .container-contentbar {
    width: 70%;
  }

  .container-sidebar {
    width: 30%;
  }
}

@media (min-width: 1430px) {
  .container {
    width: 100%;
    max-width: 1430px;
  }
}
