<div class="post-item" [ngStyle]="{
'background-image':'url(' + product?.images[0] + ')'
}">
  <a class="hover-effect" [href]="'/' + product?.id + '/details'">
    <div class="top-row">
      <ul class="actions mb-0">
        <li mat-ripple>
          <span (click)="$event.preventDefault()" mat-button><mat-icon>favorite_border</mat-icon></span>
        </li>
      </ul>
      <span class="label-right">{{ product?.transactionType }}</span>
    </div>
    <div class="info">

      <p>{{ product?.location?.city }}</p>
      <p>Maison 4 pièces</p>
      <p>
        <span class="price"> {{ product?.price  | currency:'XAF':'symbol':'4.2-2':'fr' }}</span>
      </p>
    </div>
  </a>
</div>
