.post-item {
  //width: 390px;
  display: block;
  height: 250px;
  a.hover-effect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    transform-style: preserve-3d;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,.75) 100%);
    &::before {
    }
  }
  margin: 0;
  //border: 1px solid;
  //background-image: url("https://immo-j.com/wp-content/immommoj-images/images/diaporama_2_bureau_immo-j-100x50.jpg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100% 100%;

  .top-row {
    display: flex;
    justify-content: space-between;
  }

  .actions {
    padding: 10px;
    li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px !important;
      color: #fff;
      cursor: pointer;
      font-size: 12px !important;
      &>span {
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-radius: 4px;
        background-color: #000;
        opacity: 0.6;
        filter: alpha(opacity=60);
        text-align: center;
        mat-icon {
          vertical-align: middle;
        }
      }
    }
  }

  .label-right {
    margin-right: 5px;
    margin-top: 15px;
    z-index: 3;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
    padding: 3px 6px 3px;
    text-transform: uppercase;
    vertical-align: top;
    font-weight: 500;
    height: fit-content;
  }

  .info {
    //height: 25%;
    color: #ffffff;
    font-size: 15px;
    padding: 8px;
    line-height: 1.5em;
    p {
      margin: 0;
    }
    .price {
      font-weight: bolder;
    }
  }
}
