/*
.media {
  margin-top: 20px;
}
.media:first-child {
  margin-top: 0;
}
*/

.media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.media >.pull-left, .media-left {
  padding-right: 10px;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}

.item-thumb {
  width: 101px;
}

.media-left a, .widget .next-prev-block .media-right a, .next-prev-block .widget .media-right a {
  display: block;
  width: 101px;
}

.hover-effect, .slider-thumbs-main .slick-slide {
  display: block;
  overflow: hidden;
  z-index: 0;
}

.media-heading {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 5px;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}

h4 {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 8px;
  font-weight: 500;
  text-transform: inherit;
  text-align: inherit;
}

.amenities p {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  font-weight: 400;
  text-transform: inherit;
  text-align: inherit;
}

a, h4 {
  font-size: 14px;
  color: black;
}

p {
  color: #707070;
}

img {
  height: 74px;
  width: inherit;
}
