<div class="media">
  <div class="media-left">
    <figure class="item-thumb">
      <a class="hover-effect" [routerLink]="[property?.id]">
        <img [src]="property?.images[0]" class="">
      </a>
    </figure>
  </div>
  <div class="media-body">
    <h3 class="media-heading">
      <a [routerLink]="[property?.id]">
        {{ property?.title }} - {{ property?.type[0] }}
        <!--Maison 4 pièce(s) – 85 m² – bouligny-->
      </a></h3>
    <h4>{{ property?.price  | currency:'XAF':'symbol':'4.2-2':'fr'}}</h4>
    <div class="amenities">
      <p>3 Ch • 1 Salles de bain • 85 m²</p>
      <p>{{ property?.type }}</p>
    </div>
  </div>
</div>
