<app-auth></app-auth>
<!--<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()" mdbWavesEffect>Launch Modal
</button>-->
<header class="_fixed-top">
  <mat-toolbar color="white" class="app-header">
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <a href="#" mat-ripple class="menu-item">Accueil</a>
    <a href="#" mat-ripple class="menu-item">Contact</a>
    <a href="#" mat-ripple class="menu-item" [routerLink]="['property', 'add']" *ngIf="isLoggedIn$ | async">Publier une annonce</a>
    <a href="javascript:;" mat-ripple class="menu-item" (click)="showAuthForm()" *ngIf="!(isLoggedIn$ | async)">Publier une annonce</a>
    <a href="javascript:;" mat-ripple class="menu-item" (click)="showAuthForm()" *ngIf="!(isLoggedIn$ | async)">Connexion</a>
    <div class="avatar mx-auto white profile-menu" [matMenuTriggerFor]="profileMenu" *ngIf="isLoggedIn$ | async">
      <img src="https://mdbootstrap.com/img/Others/documentation/img%20(20)-mini.jpg" alt="avatar" class="rounded-circle img-fluid">
    </div>
  </mat-toolbar>

</header>

<mat-menu #profileMenu="matMenu">
  <a mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>
  <a mat-menu-item routerLink="/conversations">
    <mat-icon>message</mat-icon>
    <span matBadge="9+" [matBadgeHidden]="false">Conversations</span>
  </a>
  <a mat-menu-item disabled>
    <mat-icon>favorite</mat-icon>
    <span>My favorites</span>
  </a>
  <a mat-menu-item>
    <mat-icon>find_in_page</mat-icon>
    <span>My saved searches</span>
  </a>
  <button mat-menu-item>
    <mat-icon>lock</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
