.app-header {
  background-color: transparent;
  height: 90px;

  .menu-item {
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
    &:hover {
      color: black;
    }
    color: #5b2d91;
    display: inline-block;
    padding: 0 15px;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 700;
    //text-transform: capitalize;
    text-align: left;
  }
}

.profile-menu {
  border-radius: 50%;
  width: 46px;
  overflow: hidden;
  border: 5px solid #fff;
}
.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
