/*:host {
  border-radius: 3px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.85);
}*/

.search-tab {
  border-radius: 3px;
  button {
    &:hover {
      color: #807f7f;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      outline: none;
      transition: all 0.3s;
    }
  }
  .advanced {
    mat-form-field {
      width: 49%;
    }
  }
  &::ng-deep {
    .container-fluid {
      padding: 15px;
    }
    .mat-tab-body-content {
      color: #000000;
      background-color: rgba(255, 255, 255, 1);
    }

    .mat-tab-label {
      opacity: 1 !important;
      width: 300px;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .mat-tab-labels {
      border-radius: 3px;
    }
    .mat-tab-label-active {
      background-color: white;
      color: black;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }

    mat-form-field {
      margin-right: 3px;
    }

    .more-settings {
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
      cursor: pointer;
      mat-icon {
        padding: 5px;
      }
      mat-icon, span {
        font-size: 15px;
      }
    }
  }
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}
