<div class="search-tab">
  <mat-tab-group class="">
    <mat-tab>
      <ng-template mat-tab-label>
        Tous
      </ng-template>
      <!--<h1>Best pasta restaurants</h1>
      <p>...</p>-->
      <ng-template *ngIf="false else all"></ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!--<mat-icon>thumb_down</mat-icon>-->
        Ventes
      </ng-template>

      <h1>Terrible sushi restaurants</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!--<mat-icon>thumb_down</mat-icon>-->
        Locations
      </ng-template>

      <h1>Terrible sushi restaurants</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #all>
  <div class="container-fluid">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Ville</mat-label>
        <input matInput placeholder="Ville">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Type de transaction</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let topping of ['Maison', 'Terrain', 'Appartement', 'Boutique']"
                      [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Budjet Max</mat-label>
        <input matInput placeholder="Budjet Max">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>

      <span class="more-settings" (click)="advancedSearchVisible = !advancedSearchVisible">
        <mat-icon>settings</mat-icon><span class="aligned-with-icon">Advanced</span>
      </span>

      <button mat-flat-button color="primary" class="ml-4">
        <mat-icon>search</mat-icon>
        Rechercher
      </button>
    </div>
  </div>

  <div class="container-fluid advanced mt-0 pt-0" *ngIf="advancedSearchVisible">
    <ng-template *ngIf="false; else advanced"></ng-template>
  </div>
</ng-template>

<ng-template #advanced>
  <mat-form-field appearance="outline">
    <mat-label>Nbre de pièces</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let topping of ['1', '2', '3', '4', '5', '5+']" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ville</mat-label>
    <input matInput placeholder="Ville">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ville</mat-label>
    <input matInput placeholder="Ville">
  </mat-form-field>
</ng-template>
