
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Ubuntu'
);
@include mat-core($custom-typography);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-primary: mat-palette($mat-indigo);
$test-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$test-theme: mat-light-theme($test-primary, $test-accent, $test-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: 'Ubuntu', "Helvetica Neue", sans-serif !important; background-color: #f5f5f5 !important; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  outline: none !important;
}

.search-bar {
  .algolia-places {
    width: 20% !important;
  }
}

.algolia-places {
  .ap-suggestions {
    max-height: 250px;
    overflow: auto;
  }
}
